/* Color Palette */
/*
Main Background Color: #FFFDF8 (White)
Secondary Background Color: #00254E (Dark Royal Blue)
Main Text Color: #565651
Secondary Text Color: #94A4AB
Button Color on White Background: #00254E
Button Color on Dark Royal Blue Background: #5D83B1
Button Color on Dark Royal Blue Background when Hover: #8EB2D9
*/

/* ****************************************************************** */

/* Font Family */
/*
font-family: 'Inconsolata', monospace;
font-family: 'Quicksand', sans-serif;
*/


* {
    font-size: 16px;
}

/* //////////////////////////////////////////////// Index HTML /////////////////////////////////////////////////// */
/* ********************************* Constant Styles ********************************* */
.highlighted-words
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #F9ED69 0%,
    #B83B5E 29%,
    #F08A5D 67%,
    #6A2C70 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
      font-size: 1rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.btn-on-dark-bg {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    white-space: nowrap;
    color: #FFFDF8;
    background-color: #5D83B1;
}

.btn-on-dark-bg:hover {
    background-color: #8EB2D9;
    color: #565651;
}

.btn-on-light-bg {
    background-color: #00254E;
    color: #FFFDF8;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.btn-on-light-bg:hover {
    background-color: #8EB2D9;
    color: #565651;
}

/* ********************************* Header Styles ********************************* */
.header {
    background-color: #FFFDF8;
}

.navbar-brand img{
    max-height: 80px;
    width: auto;
}

.nav-link {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 43px;
    white-space: nowrap;
    color: #565651;
}

.nav-link:hover {
    color: #94A4AB;
}
/* ********************************* Welcome Section Styles ********************************* */
.welcome-section {
    background-color: #00254E;
}

.name-intro {
    color: #94A4AB;
    font-family: "Quicksand", sans-serif;
    font-size: 43px;
    font-weight: 700;
    line-height: 70px;
}

.name-wrapper {
    color: #FFFDF8;
    font-family: "Quicksand", sans-serif;
    font-size: 43px;
    font-weight: 700;
    line-height: 70px;
}

.letter {
    color: #FFFDF8;
    font-family: "Quicksand", sans-serif;
    font-size: 43px;
    font-weight: 700;
    line-height: 70px;
}

.bio {
    color: #94A4AB;
    font-family: "Inconsalata", monospace;
    font-size: 16px;
    font-weight: 300;
    line-height: 43px;
}

.bio-letter {
    color: #94A4AB;
    font-family: "Inconsalata", monospace;
    font-size: 16px;
    font-weight: 300;
    line-height: 43px;
}

/* ********************************* Project Section Styles ********************************* */
.project-section {
    border-color: #565651;
}

.section-heading {
    color: #565651;
    font-family: "Quicksand", sans-serif;
    font-size: 43px;
    font-weight: 700;
    line-height: 70px;
}

.section-subheading {
    color: #565651;
    font-family: "Inconsalata", monospace;
    font-size: 16px;
    font-weight: 300;
    line-height: 43px;
}

.text-decor-none {
    text-decoration: none;
}

.card {
    max-width: 500px;

}

.project-link:hover {
    text-decoration: none;
    color: #94A4AB;
}

.profile-img {
    width: 30px;
    height: 30px;
}

.project-username {
    color: #565651;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.project-description {
    color: #94A4AB;
    font-family: "Inconsalata", monospace;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.project-popularity #likesCount {
    color: #565651;
    font-family: "Inconsalata", monospace;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.project-tools {
    color: #8EB2D9;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}


.likeBtn:hover svg {
    fill: #D75C5A;
}

.view-all-comments {
    text-decoration: none;
    color: #565651;
    font-family: "Inconsalata", monospace;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.view-all-comments:hover {
    color: #94A4AB;
}

/* ********************************* About Section Styles ********************************* */
.about-section {
    background-color: #00254E;
}

.img-border {
    height: 250px;
    width: 250px;
}

.profile-name {
    color: #FFFDF8;
    font-family: "Quicksand", sans-serif;
    font-size: 43px;
    font-weight: 700;
    line-height: 70px;
}

.job-title {
    color: #FFFDF8;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.profile-bio {
    color: #94A4AB;
    font-family: "Inconsalata", monospace;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.highlighted-words {
    color: #FFFDF8;
    font-weight: 500;
}
/* ********************************* Contact Section Styles ********************************* */


/* ********************************* Footer Section Styles ********************************* */
.footer-container {
    background-color: #00254E;
}

.border-divider {
    border-color: #94A4AB;
}
.copyright-section {
    color: #94A4AB;
    font-family: "Quicksand", sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 43px;
}

/* //////////////////////////////////////////////// Project HTML /////////////////////////////////////////////////// */
.project-list-container-bg {
    background-color: #00254E;
    height: 100%;
}

.project-list-heading {
    color: #8EB2D9;
    font-family: "Quicksand", sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 43px;
}

.project-list-subheading {
    color: #FFFDF8;
    font-family: "Quicksand", sans-serif;
    font-size: 43px;
    font-weight: 500;
    line-height: 26px;
}

.card-body {
    background-color: #FFFDF8;
}

.project-cards {
    height: 250px;
}

